 * {
     font-family: 'Poppins', sans-serif;
     margin: 0%;
 }

 body {

     margin: 0%;
 }

 .heading-text p {
     font-weight: 300;
     font-size: 14px;
     filter: opacity(0.8);

 }

 .heading-text h1 {
     font-weight: 600;
     font-size: 48px;
 }

 .heading-text a {
     background: #E76F51;
     text-decoration: none;
     padding: 10px 30px 10px 30px;
     color: white;
     border-radius: 5px;
 }

 .heading-text a:hover {
     color: white;
 }
 .featured{
     margin-top: 64px;
 }
 .featured h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
 }
 .featured p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #E76F51;
   
    
 }
 .featured .greyscale img{
     filter: grayscale(5);
 }
 
 .client h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
 }
.clients-info{
    margin-top: 44px;
    margin-bottom: 20px;
    
}

 .clients-info .card{
     border: 1px solid lightgray;
     padding: 0px 10px;
 }
 .clients-info img{
    width: 149px;
    height: 149px;
    left: calc(50% - 149px/2);
    margin: 30px 0;
    border-radius: 50%;
    border: 1px solid lightgray;
 }
 .faq h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
 }
 .faq img{
    width: 431.2px;
    height: 423.5px;
 }
 .faq .right-area{
    width: 431.2px;
    height: 500.5px;
 }

 .global-models h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
 }


 @media only screen and (max-width:688px) {
     .heading-text {
         padding-top: 30px;
     }

     .heading-img img {
         width: 75%;
         padding-bottom: 10px;
     }
     .card{
        margin-top: 20px;
        margin-left: 25px;
    }
    .faq img{
        width: 100%;
        margin-bottom: 20px;
       }
    .faq .right-area{
        width: 100%;
        height: 100%;
    }
    
 }
 
 


 @media only screen and (min-width: 688px) and (max-width: 992px) {
     .heading-text {
         padding-top: 30px;
     }
     .card{
    
        margin-left: 200px;
    }
 }